<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head></h:head>
<body>

<h3>Cart Info</h3>
<h:form prependId="false">
    <table border="1" cellpadding="2" cellspacing="2">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>
        <ui:repeat var="item" value="#{cartController.items}">
            <tr>
                <td>#{item.product.id}</td>
                <td>#{item.product.name}</td>
                <td>#{item.product.price}</td>
                <td>#{item.quantity}</td>
                <td>#{item.product.price * item.quantity}</td>
            </tr>
        </ui:repeat>
        <tr>
            <td colspan="5" align="right">Total</td>
            <td>#{cartController.total()}</td>
        </tr>
        <tr>
            <td colspan="5" align="right">Total discount</td>
            <td>#{cartController.totalDiscount()}</td>
        </tr>
    </table>
    <br></br>
    <h:commandLink value="Continue Shopping" action="#{productManagedBean.index()}"></h:commandLink>
</h:form>

</body>
</html>