<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head></h:head>
<body>

<h3>Product List</h3>
<h:form prependId="false">

    <h3>Add</h3>
    <hr />
    <table>
        <tr>
            <td>Name:</td>
            <td><h:inputText size="15" value="#{productManagedBean.name}" /></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><h:inputText size="15" value="#{productManagedBean.address}" /></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><h:inputText size="10" value="#{productManagedBean.phone}" /></td>
        </tr>
        <tr>
            <td></td>
            <td><h:commandButton value="Add Student" /></td>
        </tr>
    </table>

    <h:dataTable var="product" value="#{productManagedBean.products}"
                 border="1" cellpadding="2" cellspacing="2">
        <h:column>
            <f:facet name="header">Id</f:facet>
            #{product.id}
        </h:column>
        <h:column>
            <f:facet name="header">Name</f:facet>
            #{product.name}
        </h:column>
        <h:column>
            <f:facet name="header">Description</f:facet>
            #{product.description}
        </h:column>
        <h:column>
            <f:facet name="header">Price</f:facet>
            #{product.price}
        </h:column>
        <h:column>
            <f:facet name="header">Quantity</f:facet>
            #{product.quantity}
        </h:column>
        <h:column>
            <f:facet name="header">Option</f:facet>
            <h:commandLink value="Buy Now" action="#{cartController.buy(product)}"></h:commandLink>
        </h:column>
    </h:dataTable>
</h:form>

</body>
</html>